<ul class="filter-home">
    <li id="hot"> <i class="fa-solid fa-fire-flame-curved"></i> <p class="caption-reg"><a href="/">hot</a></p> </li>
    <li id="new"> <i class="fa-sharp fa-regular fa-star"></i> <p class="caption-reg"><a href="/new">new</a></p> </li>
    <li id="top"> <i class="fa-solid fa-ribbon"></i> <p class="caption-reg"><a href="/top">top</a></p> </li>
</ul>