<ul class="filter-home">    
    <a href="/profile/<%=user.id%>"><li > <i class="fa-solid fa-arrow-trend-up"></i> <p class="caption-reg">posts</p> </li></a>
    <li class="filter-selected"> <i class="fa-solid fa-ribbon"></i> <p class="caption-reg">comments</p> </li>
</ul>