<ul class="filter-home">
    <li class="filter-selected"> <i class="fa-solid fa-fire-flame-curved"></i> <p class="caption-reg">posts</p> </li>
    <li> <i class="fa-solid fa-arrow-trend-up"></i> <p class="caption-reg">profiles</p> </li>
    <li> <i class="fa-solid fa-ribbon"></i> <p class="caption-reg">communities</p> </li>
    <li> <i class="fa-solid fa-ribbon"></i> <p class="caption-reg">comments</p> </li>
    
</ul>