<header>
    <nav>
      <p><a href="/">Rapport</a></p>
      <div class="search-bar">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Type to search">
      </div>
      <span>
        <a href="/profile/<%=session.userID%>"><img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"></a>
        <div class="header-icon avatar-envelope">
            <i class="fa-solid fa-envelope "></i>
        </div>

        <div class="header-icon avatar-notif">
            <i class="fa-solid fa-message "></i>
        </div>

        
        
        
      </span>
      
    </nav>
  </header>
  