<header>
    <nav>
      <p><a href="/">Rapport</a></p>
      <div class="search-bar">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Type to search">
      </div>
      <span>
        
        <p id="log-in">Log In</p>
        <p id="sign-up">Sign Up</p>

        
        
        
      </span>
      
    </nav>
  </header>
  