
  
    

    
    
    
    
    <div class="make-post-type-container">
        <p>Post Type</p>
        <ul class="make-post-type">
            <button class="btn-primary post-type" id="text-post">Text Post</button>
            <button class="btn-primary post-type" id="link-post">Link Post</button>
            <button class="btn-primary post-type" id="collab-post">Collab Post</button>
            
        </ul>
    </div>
    
    <div class="make-post-title">
        <input id='make-post-title' type="text" placeholder="Add a title">
    </div>
    <div class="make-post-body">
        <p>Description</p>
        <textarea id='make-post-body'></textarea>
        <button id='submit-post' class="btn-primary-pressed">Submit</button>
    </div>

    
</div>
