<form id='reply-form' method="POST" class="comment-reply">
  <textarea name="reply">  </textarea
  ><span
    ><input
      type="submit"
      value="submit"
      class="btn-reply"
      id="reply-submit-button" /><input
      type="button"
      class="btn-reply"
      value="cancel"
      id="reply-cancel-button"
  /></span>
</form>
