<form id='post-reply-form' method="POST" class="post-comment-reply">
    <textarea name="post-reply">  </textarea
    ><span
      >
      <input
        type="submit"
        value="submit"
        class="btn-reply"
        id="post-reply-submit-button" /></span>
  </form>
  