<div class="community-search">
    <span>
        <img src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" alt="" class="avatar-32">
        <p >community</p>
        <p class="caption-reg">1 USER</p>
    </span>

    <button class="btn-secondary">Join</button>

</div>