<div class="side-card">

    <div class="side-card-header">
        <p class="secondary-medium">About Me</p>
        
    </div>
    
    <div class="side-card-text">
   
    <p class="about-text">Realizei uma compra de 52,83€ no Lidl do. O terminal de pagamento deu blue screen (erro e fez reboot) e não apresentou o recibo de compras. O empregado do Lidl disse que o pagamento não foi feito e por isso não poderia sair com as compras , eu mostrei o comprovativo digital fornecem na App Mbway mostrando que o dinheiro saiu da</p>
    <span><i class="fa-light fa-info"></i> <p class="about-text">Created Sep 15, 2008</p></span>
    
    
    
    
    </div>
    
    </div>
    