<div class="side-card">

    <div class="side-card-header">
        <p class="secondary-medium">About Community</p>
        
    </div>
    
    <div class="side-card-text">
   
    <p class="about-text"><%= subreddit.description%></p>
    <span><i class="fa-light fa-info"></i> <p class="about-text">Created Sep 15, 2008</p></span>
    
    
    
    
    </div>
    
    </div>
    